# --- Archivos de Embeddings Gigantes ---
# Ignorar todos los archivos .vec
*.vec

# --- Entorno Virtual de Python ---
# NUNCA subir el entorno virtual
.venv/
venv/

# --- Caché de Python ---
__pycache__/
*.pyc